.btn {
  height: 30px;
  border: none;
  cursor: pointer;
  width: 30px;
  border-radius: 50%;
  border: 1px dashed $dark-three;
  background-color: $white;
  line-height: 0;
}
.modal {
  width: 100vw;
  position: fixed;
  z-index: 2222;
  bottom: 0;
  left: 0;
}
