.btn {
  height: 30px;
  border: none;
  cursor: pointer;
  width: 30px;
  border-radius: 50%;
  border: 1px dashed $dark-three;
  background-color: $white;
  line-height: 0;
}
.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2222;
  top: 0;
  left: 0;
}

/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
