$dark-one: #3e3e3e;
$dark-two: #5e5e5e;
$dark-three: #909090;
$gray-one: #c4c4c4;
$gray-two: #ebebeb;
$gray-three: #f8f8f8;

$black: #000;
$white: #fff;
$primary-color: #e19500;
$primary-color-light: #eab704;
$primary-color-extra-light: #f2c82e;
